$margin: 16px;

.actionbar {
  display: flex;
  flex-direction: row;
  margin-top: $margin;

  .spacer {
    flex: 1;
  }

  button {
    margin-right: $margin;
  }
}

.article-overview {
  display: flex;
  flex-direction: row;

  .article-list {
    flex: 3;
    margin: $margin;
    height: calc(100vh - 148px);
    overflow-y: auto;
  }

  .article-details {
    flex: 2;
    margin: $margin;
  }
}
