<mat-card *ngIf="article$ | async as article">
  <mat-card-header>
    <div class="header">
      <span *ngIf="article.articleId">{{'article.articleId' | translate}}: {{article.articleId}}</span>
      <span *ngIf="!article.articleId">{{'article.empty' | translate}}</span>
      <mat-divider></mat-divider>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="article.articleId">
    <mat-form-field appearance="fill">
      <mat-label>{{'article.select-language' | translate}}</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let material of article.material"
                    value="{{material.language}}">
          {{material.language}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="details">
      <span>{{'article.brand' | translate}}: {{article.brand}}</span>
      <span>{{'article.material' | translate}}: {{getValueFromAttributes(article.material)}}</span>
      <span>{{'article.secondMaterial' | translate}}: {{getValueFromAttributes(article.secondMaterial)}}</span>
      <span>{{'article.thirdMaterial' | translate}}: {{getValueFromAttributes(article.thirdMaterial)}}</span>
      <span>{{'article.alloy' | translate}}: {{getValueFromAttributes(article.alloy)}}</span>
      <span>{{'article.secondAlloy' | translate}}: {{getValueFromAttributes(article.secondAlloy)}}</span>
      <span>{{'article.thirdAlloy' | translate}}: {{getValueFromAttributes(article.thirdAlloy)}}</span>
      <span>{{'article.mainProductGroup' | translate}}: {{article.mainProductGroup}}</span>
      <span>{{'article.productGroup' | translate}}: {{article.productGroup}}</span>
      <span>{{'article.collection' | translate}}: {{article.collection}}</span>
      <span>{{'article.target' | translate}}: {{getValueFromAttributes(article.target)}}</span>
    </div>
  </mat-card-content>
</mat-card>