$margin: 16px;

mat-card {
  height: 100%;

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: large;

    mat-divider {
      margin-top: $margin;
    }
  }

  mat-form-field {
    width: 30%;
    margin-top: $margin;
  }

  .details {
    display: flex;
    flex-direction: column;

    span {
      margin-top: $margin;
    }
  }
}
